/.idea/
*.class
*.jar
*.war
*.ear
*~
target/
nbproject/
nb-configuration.xml
nbactions.xml
*.iml
.idea/*
.classpath
*.orig
.DS_Store
/fiasco-runtime/dependency-reduced-pom.xml
/fiasco-libraries/dependency-reduced-pom.xml
